
<!--Taken from http://bootsnipp.com/snippets/featured/simplest-contact-form--> 
<!-- views/home.ejs -->
<!doctype html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>
	<div class="container-fluid">
		<% include ../partials/alwaysInclude.ejs %>
		<div class="profilecontent col-md-9">	 
			<% include ../partials/postRender.ejs %>
		</div>
	</div>
</body>
</html>