
<!--Taken from http://bootsnipp.com/snippets/featured/simplest-contact-form--> 
<!-- views/home.ejs -->
<!doctype html>
<html>
	<% include ../partials/header.ejs %>
<body>
	<div class="container-fluid">
		<% include ../partials/alwaysInclude.ejs %>
		<div class="profilecontent col-md-9">
			<ul>
				<% postBOArray.forEach(function(postBO) { %>
				<li>
					<% include ../partials/postRender.ejs %>
				</li>
				<% }); %>
			</ul>
		</div>
	</div>
</body>
</html>