<!doctype html>
<html>
<% include ../partials/header.ejs %>
<body>
	<div class="container-fluid">
		<% include ../partials/alwaysInclude.ejs %>

		<div class="postReqButtons col-md-9">
			<% include ../partials/reqSubmit.ejs %>
		</div> 

	</div>
</body>
</html>